<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SetRBAConARMmodel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <SetRBAConARMmodel.Properties.Settings>
      <setting name="TenantID" serializeAs="String">
        <value>&lt;TenantID of your AAD attached to Azure subscription&gt;</value>
      </setting>
      <setting name="SubscriptionID" serializeAs="String">
        <value>&lt;SubscriptionID of your Azure Subscription&gt;</value>
      </setting>
      <setting name="ApplicationID_ClientID" serializeAs="String">
        <value>&lt;ApplicationID of this application in your AAD&gt;</value>
      </setting>
      <setting name="ServiceCredential_ClientPassword" serializeAs="String">
        <value>&lt;ServicePrincipal password of this aplication in your AAD&gt;</value>
      </setting>
    </SetRBAConARMmodel.Properties.Settings>
  </applicationSettings>
</configuration>